$color-main: #000000;
$bg-btn-hover: #dd1111;
$color-main-bright: #fff;

@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        scale: 50%;
    }

    to {
        scale: 100%;
  
    }
}
.modal{
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #00000050;
    animation: showModal .3s;
   
    
    &__body{
        background-color: $color-main-bright;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        position: relative;
        animation: scale .3s;
        border: 2px solid $color-main;
        box-shadow: -0px 3px 15px rgba(7, 7, 7, 0.3);
        &:hover {
            box-shadow: -0px 10px 15px rgba(250, 250, 248, 0.5);
        }
    }
    &__header{
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px 5px 0 0;
        background-color: $color-main-bright;
        border-bottom: 2px solid $color-main;

    }
    &__title{
        font-size: 20px;
        font-weight: 700;
        
    }
    &__close{
        position: relative;
        height: 30px;
        width: 30px;
        
        &::before,
        &:after {
            position: absolute;
            content: '';
            background: $color-main;
            left: 50%;
            top: 50%;
            height: 3px;
            width: 100%;
            transition: transform .3s, background-color .3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {

            &::before {
                transform: translate(-50%, -50%) rotate(135deg);
                background-color: $bg-btn-hover;
            }

            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: $bg-btn-hover;
            }
        }

    }
    &__text{
        padding: 25px;
        line-height: 170%;
        text-align: center;

    }
    &__btns{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;

    }
    &__btn{
        background-color: $color-main;
        color: $color-main-bright;
        border-radius: 10px;
        padding: 10px;
        min-width: 100px;
        transition: background-color .3s;
        

    }
    &__btn:hover{
        background-color: $bg-btn-hover
    }
}